Django==3.0.5
torch==1.5.0+cpu
torchvision==0.6.0+cpu
numpy==1.18.2
opencv-python==4.2.0.34
tensorflow==2.6.4
Pillow==7.1.1
keras==2.3.1
h5py==2.10.0
pandas==1.0.3

# For minimal installation or any errors due to instance weak resources, please use --no-cache-dir while installing tensorflow/torch
